pydantic~=2.9.2
langchain-core~=0.3.23
langchain-chroma
unstructured[all-docs]~=0.16.11
python-dotenv~=1.0.1
Flask~=3.1.0
langchain-openai~=0.2.12
langchain-community
unstructured~=0.16.11
langchain~=0.3.10
flask-apispec~=0.11.4
flask-restful~=0.3.10
marshmallow~=3.26.1
langgraph~=0.2.59
langsmith~=0.2.3
apispec~=6.8.1
langchain-google-genai~=2.0.7
tomli~=2.0.1
envtoml~=0.1.2